#built application files
*.apk
*.ap_

#AndroidStudio
*.iml
.idea
.navigation/
.build/
.gradle/
.keystore/
gradle
gradle/
output.json 

#Other
local.properties
.DS_Store
/captures
Lint
.externalNativeBuild